.hide {
    display: none;
}

.display {
    display: block;
}

#timer-section {
    text-align: right;
    font-weight: bold;
}

#intro-card {
    text-align: center;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
    display: inline-block;
    margin: 2px;
}

input {
    margin-left: 20px;
}

#footer {
    background-color: white; 
}